@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Dewi";
  src: url("../font/RFDewiExpanded-Semibold.ttf");
}
* {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.main-window__header-1 {
  font-family: "Dewi";
  color: #444444;
  font-size: 2.2vw;
}

.contact__text, .window-3__partners, .header-2 {
  font-family: "Dewi";
  color: #444444;
  font-size: 2.2vw;
  width: 15vw;
  margin-top: 6vw;
  margin-left: 4vw;
}

.footer__column h1, .w2-item__text, .annotation {
  font-family: "Montserrat";
  font-size: 1vw;
}

.footer__column p {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 1vw;
  line-height: 2vw;
}

.w2-item__main-text, .item-2__text, .categories-window .item__text, .catalogue__itm-text, .catalogue__text-1, .catalogue__text {
  font-family: "Dewi";
  font-size: 1.2vw;
  line-height: 2vw;
}

body {
  background-color: white;
}

.header {
  display: block;
}
.header .upper-block nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2vw;
}
.header .link-1__item:first-child {
  margin-right: 5%;
  width: 20vw;
}
.header .link-1__item:last-child {
  margin-left: 5%;
  width: 20vw;
}
.header .link-1__item {
  text-align: center;
  width: 15vw;
  color: #7A7A7A;
  font-family: "Montserrat";
  font-size: 0.75vw;
}
.header .long-lines {
  margin-left: 0;
  width: 100%;
  border-bottom: 1px solid #C1C1C1;
}
.header .lower-block nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 5vw;
}
.header .lower-block nav img {
  width: 0.75vw;
}
.header .lower-block nav .link-2__item:first-child {
  display: inline;
}
.header .lower-block nav .link-2__item:nth-child(4) {
  width: 60%;
  margin-left: 10vw;
}
.header .lower-block nav .link-2__item:nth-child(4) img {
  vertical-align: middle;
  height: 2vw;
  width: auto;
}
.header .lower-block nav .link-2__item {
  text-align: center;
  width: 15vw;
  color: #444444;
  font-family: "Montserrat";
  font-size: 0.75vw;
  font-weight: bold;
}

.main-window {
  display: grid;
  grid-template-columns: 25fr 50fr 15fr;
  grid-template-rows: 35fr 40fr 10fr;
  grid-template-areas: "image header field" "image annotation field" "image empty catalogue";
}
.main-window .adaptive-block {
  display: none;
}
.main-window__image {
  grid-area: image;
}
.main-window__image img {
  height: 100%;
  width: 100%;
}
.main-window__header-1 {
  margin-top: 6vw;
  margin-right: 4vw;
  width: 75%;
  grid-area: header;
}
.main-window__annotation {
  grid-area: annotation;
  width: 60%;
  margin-top: 2vw;
  margin-right: 4vw;
}
.main-window__empty {
  grid-area: empty;
  background-color: #444444;
}
.main-window__catalogue {
  background-color: #444444;
  grid-area: catalogue;
}

.catalogue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalogue__text {
  width: auto;
  margin: 0;
  color: #FFFFFF;
}
.catalogue__text-1 {
  width: auto;
  margin: 0;
  color: #FFFFFF;
}
.catalogue__arrow {
  padding-left: 0;
  margin-left: 0;
  width: 5vw;
  height: 1vw;
}
.catalogue__arrow img {
  width: 1vw;
}
.catalogue__itm-text {
  margin-right: 0;
  margin-left: 4vw;
  color: #444444;
  width: 13vw;
}

.categories-window {
  display: grid;
  grid-template-columns: 15fr 15fr 15fr;
  grid-template-rows: 3fr 2fr;
  grid-template-areas: "ctg ruch dv" "prof yasch all";
}
.categories-window .item {
  margin: auto;
}
.categories-window .item__text {
  margin-top: 3vw;
  margin-left: 4vw;
  color: #444444;
  width: 18vw;
}
.categories-window .item__img {
  margin-top: 3vw;
  width: 20vw;
}
.categories-window .item__img img {
  width: 20vw;
  height: auto;
}

.item-2 {
  margin: auto;
}
.item-2__text {
  margin-top: 3vw;
  margin-left: 4vw;
  color: #444444;
  width: 18vw;
}
.item-2__img {
  width: 12vw;
}
.item-2__img img {
  width: auto;
  height: 7vw;
}
.item-2__wrap {
  margin-top: 10vw;
}

.window-2 {
  display: grid;
  background-color: #444444;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.7fr 4fr 0.5fr 0.5fr;
}
.window-2__item-2 {
  grid-row-start: 2;
  grid-row-end: 3;
}
.window-2__item-3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.window-2__item-4 {
  background-color: #FFFFFF;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 20vw;
  margin-right: 0;
}

.w2-item__main-text {
  color: #FFFFFF;
  margin-top: 5vw;
  margin-left: 4vw;
  width: 30vw;
}
.w2-item__photo {
  height: 100%;
  width: 100%;
}
.w2-item__text {
  color: #FFFFFF;
  margin-top: 4vw;
  margin-left: 4vw;
  width: 20vw;
}
.w2-item__wrapper {
  margin-top: 1vw;
  width: 17vw;
}

.black {
  color: #444444;
}

.window-3 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "brand tr sa st rj" "brand cn oz cat cat";
}
.window-3__partners {
  grid-area: brand;
}
.window-3__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vw;
}
.window-3__image img {
  margin: 0 auto;
  scale: 0.8;
}
.window-3__wrapper {
  grid-area: cat;
  width: 25vw;
  margin-left: 11vw;
}

.small img {
  scale: 0.6;
}

.contact__cont-2, .contact__cont-1 {
  font-family: "Dewi";
  color: #FFFFFF;
  font-size: 1.8vw;
  margin-top: 6vw;
}

.contact__c-header, .contact__a-header {
  font-family: "Dewi";
  color: #7A7A7A;
  font-size: 1.3vw;
  margin-top: 6vw;
}

.contact {
  background-color: #444444;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "text cnt cont-1" "text andr cont-2";
}
.contact__text {
  grid-area: text;
  color: #FFFFFF;
}
.contact__a-header {
  grid-area: andr;
}
.contact__c-header {
  grid-area: cnt;
}
.contact__cont-1 {
  grid-area: cont-1;
}
.contact__cont-2 {
  grid-area: cont-2;
}

.footer {
  padding-top: 5vw;
  background-color: #444444;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 80%;
}
.footer__column h1 {
  color: #7A7A7A;
  margin-bottom: 1vw;
}
.footer__column p {
  color: #7A7A7A;
}

.last-window {
  background-color: #444444;
}

@media (max-width: 769px) {
  .upper-block {
    display: none;
  }
  .main-window {
    display: grid;
    grid-template-columns: 25fr 20fr;
    grid-template-rows: 40fr 20fr 4fr;
    grid-template-areas: "image header" "annotation field" "catalogue catalogue";
  }
  .main-window__image {
    grid-area: image;
  }
  .main-window__image img {
    height: 100%;
    width: 100%;
  }
  .main-window__header-1 {
    margin-top: 60vw;
    margin-right: 4vw;
    width: 75%;
    grid-area: header;
    font-size: 3vw;
  }
  .main-window__annotation {
    grid-area: annotation;
    width: 60%;
    margin-top: 4vw;
    margin-left: 6vw;
    font-size: 2vw;
  }
  .main-window__empty {
    grid-area: empty;
    background-color: #444444;
  }
  .main-window__catalogue {
    background-color: #444444;
    grid-area: catalogue;
  }
  .catalogue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .catalogue__text-1 {
    width: 17vw;
    margin-left: 6vw;
    color: #FFFFFF;
    font-size: 2vw;
  }
  .catalogue__text {
    margin-left: 6vw;
    width: 17vw;
    margin: 0;
    color: #FFFFFF;
    font-size: 2vw;
  }
  .catalogue__arrow {
    padding-left: 0;
    margin: 0;
    width: 5vw;
    height: 2vw;
  }
  .catalogue__arrow img {
    width: 2vw;
  }
  .catalogue__itm-text {
    margin-right: 0;
    margin-left: 0;
    color: #444444;
    font-size: 2.5vw;
    width: 30vw;
  }
  .categories-window {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "g1" "g2" "g3" "g4" "g5";
  }
  .categories-window__item-1 {
    grid-area: g1;
  }
  .categories-window__item-2 {
    grid-area: g2;
  }
  .categories-window .item {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .categories-window .item__text {
    margin-top: 12vw;
    margin-left: 4vw;
    color: #444444;
    width: 40vw;
    font-size: 2.5vw;
    line-height: 4vw;
  }
  .categories-window .item__img {
    margin-top: 3vw;
    width: 20vw;
  }
  .categories-window .item__img img {
    width: 20vw;
    height: auto;
  }
  .item-2 {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .item-2__text {
    margin-top: 3vw;
    margin-left: 4vw;
    color: #444444;
    width: 40vw;
    font-size: 2.5vw;
    line-height: 4vw;
  }
  .item-2__img {
    width: 18vw;
  }
  .item-2__img img {
    width: auto;
    height: 10vw;
  }
  .item-2__wrap {
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 48vw;
  }
  .header-2 {
    margin-left: 48vw;
    font-size: 3vw;
  }
  .black {
    color: #444444;
  }
  .window-2 {
    display: grid;
    background-color: #444444;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1.7fr 4fr 0.5fr 4fr;
    grid-template-areas: "header header" "image image" ". catalogue" "text .";
  }
  .window-2__item-1 {
    grid-area: header;
  }
  .window-2__item-2 {
    grid-area: text;
  }
  .window-2__item-3 {
    grid-area: image;
  }
  .window-2__item-4 {
    grid-area: catalogue;
    width: 40vw;
    margin-right: 0;
  }
  .w2-item__main-text {
    color: #FFFFFF;
    font-size: 3vw;
    line-height: 4vw;
    margin-top: 5vw;
    margin-left: 6vw;
    width: 60vw;
  }
  .w2-item__photo {
    height: 100%;
    width: 100%;
  }
  .w2-item__text {
    color: #FFFFFF;
    margin-top: 4vw;
    margin-left: 6vw;
    width: 40vw;
    font-size: 2.5vw;
  }
  .w2-item__wrapper {
    margin-top: 1vw;
    width: 17vw;
  }
  .black {
    color: #444444;
  }
  .window-3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "brand tr sa st rj" "brand cn oz cat cat";
  }
  .window-3__partners {
    grid-area: brand;
    margin-left: 6vw;
    font-size: 3vw;
  }
  .window-3__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 15vw;
  }
  .window-3__image img {
    margin: 0 auto;
    scale: 0.8;
  }
  .window-3__wrapper {
    grid-area: cat;
    width: 25vw;
    margin-left: 11vw;
  }
  .small img {
    scale: 0.6;
  }
  .contact__cont-1, .contact__cont-2 {
    font-family: "Dewi";
    color: #FFFFFF;
    font-size: 1.8vw;
    margin-top: 6vw;
  }
  .contact__a-header, .contact__c-header {
    font-family: "Dewi";
    color: #7A7A7A;
    font-size: 1.3vw;
    margin-top: 6vw;
  }
  .contact {
    background-color: #444444;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "text cnt cont-1" "text andr cont-2";
  }
  .contact__text {
    grid-area: text;
    color: #FFFFFF;
    margin-left: 6vw;
    font-size: 3vw;
  }
  .contact__a-header {
    grid-area: andr;
    font-size: 2vw;
  }
  .contact__c-header {
    grid-area: cnt;
    font-size: 2vw;
  }
  .contact__cont-1 {
    grid-area: cont-1;
  }
  .contact__cont-2 {
    grid-area: cont-2;
  }
  .footer {
    display: none;
  }
}
